# macOS
.DS_Store

# Node.js
node_modules/

# Tests
lcov.info

# Yarn
/yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build output
/build/
*.tsbuildinfo

.vscode
.idea
