# adapted from https://github.com/googleapis/release-please-action#automating-publication-to-npm
on:
  push:
    branches:
      - main
name: release-please
env:
  # renovate datasource=github-releases depName=jdx/mise
  MISE_VERSION: 'v2025.11.7'
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          release-type: node
      # The logic below handles the npm publication:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        # these if statements ensure that a publication only occurs when
        # a new release is created:
        if: ${{ steps.release.outputs.release_created }}
      - uses: jdx/mise-action@v3.5.1
        with:
          version: ${{ env.MISE_VERSION }}
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          cache: yarn
          registry-url: 'https://registry.npmjs.org'
        if: ${{ steps.release.outputs.release_created }}
      - run: yarn --immutable
        if: ${{ steps.release.outputs.release_created }}
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        if: ${{ steps.release.outputs.release_created }}
