name: Tests
on:
  push:
env:
  # renovate datasource=github-releases depName=jdx/mise
  MISE_VERSION: 'v2025.11.8'
jobs:
  tests:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v3.5.1
        with:
          version: ${{ env.MISE_VERSION }}
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: yarn
      - run: mise run ci
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
