name: Tests
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Cache Node.js modules
      uses: actions/cache@v1
      with:
        path: ${{ github.workspace }}/node_modules
        key: ${{ runner.OS }}-${{ matrix.node-version}}-node_modules-${{ hashFiles('yarn.lock') }}
    - run: yarn --frozen-lockfile
    - run: yarn lint --max-warnings=0
    - run: yarn test --coverage
    - name: Create coverage report flag
      id: codecov-flag
      run: echo "::set-output name=flag::node_${NODE_VERSION/./_}"
      env:
        NODE_VERSION: ${{ matrix.node-version }}
    - uses: codecov/codecov-action@v1
      with:
        flags: ${{ steps.codecov-flag.outputs.flag }}
