name: Tests
on:
  push:
jobs:
  static-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          cache: yarn
      - run: yarn
      - run: yarn tsc
      - run: yarn lint --max-warnings=0
      # This command builds and then prints files which would be included in the published package
      - run: yarn pack --dry-run

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24]
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn
      - run: yarn test --coverage
      - uses: codecov/codecov-action@v5
        with:
          flags: 'node_${{ matrix.node-version }}'
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
